{
	admin off
	persist_config off
	auto_https off
}

:{$PORT:3000} {
	encode zstd gzip
	root * /srv

	handle /health {
		respond "ok" 200
	}

	handle /api/* {
		reverse_proxy {$API_UPSTREAM:https://backend-production-0011.up.railway.app} {
			header_up -Origin
		}
	}

	handle /ws/* {
		reverse_proxy {$API_UPSTREAM:https://backend-production-0011.up.railway.app} {
			header_up -Origin
		}
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
